<div class="container-fluid">
    <div class="row row-card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary white-text">
                    <i class="fas fa-book"></i> Faltas
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    DISCIPLINA
                                </th>
                                <th scope="col" *ngFor="let label of getSemestreLabels()">
                                    {{label}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let frequencia of disciplinasFaltas.frequencia">
                                    <td>{{frequencia.disciplina}}</td>
                                    <td *ngFor="let falta of frequencia.faltas">{{falta}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>