.shadow{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}
.list-expasion {




  .list-expasion-content {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
  }

  .list-expasion-header{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #4285f4!important;
    cursor: pointer;
    color: #fff;

  }
  .list-expasion-header:nth-child(1n+1) {
    border-top: 3px solid #fff;
  }
  .list-expasion-header:nth-child(1) {
   border:none!important;
  }
  .list-expasion-content-item{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    line-height: 55px;
  }
}


@keyframes anim {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.tr-body {
  display: none;
  transform-origin: top;
}
.tr-body.active {
  display: table-row;
  animation: anim 0.5s ease;
}
td {
  padding: 10px;
}
.tr-body {
  display: none;
  transform-origin: top;
}
.tr-body.active {
  display: table-row;
  animation: anim 0.5s ease;
}
td {
  padding: 10px;
}
