<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">RA</div>
        <div class="dado-pessoal">{{dadosAcademicoAluno?.ra}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Curso</div>
        <div class="dado-pessoal">{{dadosAcademicoAluno?.curso}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Turno</div>
        <div class="dado-pessoal">{{dadosAcademicoAluno?.turno}}</div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Tipo de curso</div>
        <div class="dado-pessoal">{{dadosAcademicoAluno?.tipoCurso}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Modalidade</div>
        <div class="dado-pessoal">{{dadosAcademicoAluno?.getModalidade()}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Duração</div>
        <div class="dado-pessoal">{{dadosAcademicoAluno?.duracaoCurso}}</div>
      </div>
    </div>
  </div>


</div>
