<div class="body-wrapper">
    <aside class="mdc-persistent-drawer mdc-persistent-drawer--open">
        <nav class="mdc-persistent-drawer__drawer">
            <div class="mdc-persistent-drawer__toolbar-spacer">
                <a href="index" class="brand-logo">
                   Sistema Educacional
                </a>
            </div>
            <div class="mdc-list-group">
                <nav class="mdc-list mdc-drawer-menu">
                    <div class="mdc-list-item mdc-drawer-item" >
                        <a class="mdc-drawer-link " routerLink="aluno/dashboard" >
                            <i class="fas fa-home"></i>  <span> Início</span>
                        </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" routerLink="aluno/disciplinas">
                            <i class="fas fa-home"></i>  <span> Minhas disciplinas</span>
                        </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="index">
                            <i class="fas fa-home"></i>  <span> Quadro de Horário</span>
                        </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="index">
                            <i class="fas fa-home"></i>  <span> Materiais</span>
                        </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="index">
                            <i class="fas fa-home"></i>  <span> Notas e Faltas</span>
                        </a>
                    </div>
                    <div class="mdc-list-item mdc-drawer-item">
                        <a class="mdc-drawer-link" href="index">
                            <i class="fas fa-home"></i>  <span> Solicitações</span>
                        </a>
                    </div>
                </nav>
            </div>
        </nav>
    </aside>

    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <a class="menu-toggler material-icons mdc-toolbar__menu-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </section>
        </div>
    </header>

    <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
         <router-outlet></router-outlet>
        </main>
        <footer>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                        <span class="text-muted">Copyright © 2018 <a class="text-green" href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex justify-content-end">
                        <span class="mt-0 text-right">Hand-crafted &amp; made with <i class="mdi mdi-heart text-red"></i></span>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>