<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Nome</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.nome}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Email</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.email}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Data de nascimento</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.getDataNascimentoBR()}}</div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">CPF</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.cpf}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">RG</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.rg}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Telefone</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.telefone}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="linha-horizontal">
        <div class="label-informacao">Endereço</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.endereco?.getEndereco()}}</div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#novaSenha">
    Nova senha
  </button>


  <div class="modal fade central  " id="novaSenha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">

        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Alterar Senha <i class="fas fa-unlock-alt"></i></strong>
        </h5>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <label for="senha">Senha</label>
                <input id="senha" type="password" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <label for="confirma-senha" class="">Confirmar Senha</label>
                <input id="confirma-senha" type="password" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button class="btn btn-success">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
