<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Nome</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.nome}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Email</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.email}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Data de nascimento</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.getDataNascimentoBR()}}</div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">CPF</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.cpf}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">RG</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.rg}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="linha-horizontal">
        <div class="label-informacao">Telefone</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.telefone}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="linha-horizontal">
        <div class="label-informacao">Endereço</div>
        <div class="dado-pessoal">{{dadosPessoaisAluno?.endereco?.getEndereco()}}</div>
      </div>
    </div>
  </div>




</div>
