td{
  height: 100px;
  border-right: 1px solid #e1e1e1;
}
.ab-cd{
  text-align: center;
  line-height: 60px;
}
td{
  text-align: center;
  line-height: 60px;
}
.content-quadro{
  width: 100%;

  background-color: #fff;
}
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}
::-webkit-scrollbar-thumb {
  background: #4285f4;
  border-radius:10px;
  width:3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

