body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
}

.shadow {
  box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.table-padrao {
  border: 1px #dee2e6 solid !important;
  @extend .shadow;
}

.file-input-padrao {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding: 6px;
  font-size: .81rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin: .375rem;
  border: 0;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #4285f4 !important;
  color: #fff;
}

.display-none {
  display: none;
}

.nav-pills-padrao {
  @extend .shadow;
  padding: 6px;
  background-color: #fff;

  a {
    height: 36px !important;
    line-height: 19px !important;
    margin-right: 10px;

  }

  a.active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    background-color: red;
    transition: all .4s;
    border-radius: 2px;
    color: #666;
    text-align: center;
  }


}

.linha-horizontal {
  outline: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 30px;
  min-height: 45px;
  padding-bottom: 5px;
  transition: all .3s;
}

.circulo {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: inline;
  position: absolute;
  right: 12px;
  top: 18px;
  border-radius: 10px;

}

.cursada {
  background-color: #00c851 !important;
}

.cursando {
  background-color: #33b5e5 !important;
}

.reprovada {
  background-color: #ff3547 !important;
}

.trancada {
  background-color: #bdc3c7 !important;
}

.content-main {
  margin-left: 250px;
  transition: margin-left .5s;
  padding-top: 80px;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
  .content-main {
    margin-left: 0;
  }
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 100;
  top: 55px;
  left: 0;
  background-color: #fff;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-weight: 300;

}
.toggle-btn{
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #fff;
  background-color: #bdc3c7;
}

.nav-sidebar{
  z-index: 101;
  position: fixed;
  width: 100%;
}
.menu-geral-title{
  color: #818181;
  margin-left: 10px;
}
.img-perfil-nav{
  width: 50px;
  height: 50px;
  right: 20px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .content-main {
    margin-left: 0;
  }
  .sidebar{
    margin-left: -250px;
  }
}


.sidebar-fechado{
  margin-left: -250px;
}
.content-fechado{
  margin-left: 0;
}
.sidebar-aberto{
  margin-left: 0;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.icon-sidebar-item{
  margin-left: -20px;
  font-size: 20px;
}
.text-sidebar-item{
  position: absolute;
  left: 61px;
}

.item-sidebar-selecionado{
  color: #fff!important;
  background-color: #bdc3c7;
}

